{
  "presets": [
      [ "@babel/preset-react" ]
  ],
  "plugins": [
      [
          "import",
          {
              "libraryName": "antd",
              "libraryDirectory": "es",
              "style": "css"
          }
      ],
      "@babel/transform-runtime"
  ]
}
